@import '../../vendor/filament/forms/dist/module.esm.css';
@import '../../resources/css/filament.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body{
    font-family: 'Maven Pro', sans-serif;
}

.bg-primary-500, .text-primary-500{	
    
    color: #776BAB currentColor;
    
}
