.Y06 {

    background-color: #F2D964;
    color: #F2D964;

}

.Y07 {

    background-color: #FAD140;
    color: #FAD140;

}

.Y08 {

    background-color: #FDAD00;
    color: #FDAD00;

}

.Y09 {

    background-color: #F4AF5B;
    color: #F4AF5B;

}

.Y10 {

    background-color: #F59724;
    color: #F59724;

}

.Y11 {

    background-color: #B97D31;
    color: #B97D31;

}

.O12 {

    background-color: #F07B42;
    color: #F07B42;

}

.O13 {

    background-color: #E87257;
    color: #E87257;

}

.O14 {

    background-color: #DA5838;
    color: #DA5838;

}

.R15 {

    background-color: #BD413A;
    color: #BD413A;

}

.R16 {

    background-color: #9A4039;
    color: #9A4039;

}

.R17 {

    background-color: #583F40;
    color: #583F40;

}

.P18 {

    background-color: #F7A879;
    color: #F7A879;

}

.P19 {

    background-color: #FAA495;
    color: #FAA495;

}

.P20 {

    background-color: #DF8686;
    color: #DF8686;

}

.F21 {

    background-color: #BF7595;
    color: #BF7595;

}

.F22 {

    background-color: #A25877;
    color: #A25877;

}

.V23 {

    background-color: #B7B1DC;
    color: #B7B1DC;

}

.V24 {

    background-color: #9B8CB5;
    color: #9B8CB5;

}

.V25,
.text-primary-500 {

    background-color: #776BAB;
    color: #776BAB;

}

.V26 {

    background-color: #7B598F;
    color: #7B598F;

}

.B27 {

    background-color: #87C8D7;
    color: #87C8D7;

}

.B28 {

    background-color: #4EB3CD;
    color: #4EB3CD;

}

.B29 {

    background-color: #1882B4;
    color: #1882B4;

}

.B30 {

    background-color: #195584;
    color: #195584;

}

.B31 {

    background-color: #334059;
    color: #334059;

}

.G32 {

    background-color: #75C89E;
    color: #75C89E;

}

.G33 {

    background-color: #7AB96E;
    color: #7AB96E;

}

.G34 {

    background-color: #42A370;
    color: #42A370;

}

.G35 {

    background-color: #007856;
    color: #007856;

}

.G36 {

    background-color: #4E795B;
    color: #4E795B;

}

.G37 {

    background-color: #515545;
    color: #515545;

}

.G38 {

    background-color: #415448;
    color: #415448;

}

.G39 {

    background-color: #40B8A4;
    color: #40B8A4;

}

.G40 {

    background-color: #009F8A;
    color: #009F8A;

}

.G41 {

    background-color: #009185;
    color: #009185;

}

.Grey42 {

    background-color: #889099;
    color: #889099;

}

.Brown43 {

    background-color: #624A3E;
    color: #624A3E;

}

.Black44 {

    background-color: #383737;
    color: #383737;

}
